<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/calendar-appt.css">
  </head>
  <body>

    <form id='form' class="form-style-2" action="#">
      <input placeholder="First name" name="fname" type="text" required />
      <input placeholder="Last name" name="lname" type="text" required />
      <input id="cell" type='hidden' name="cellId" value="" />
      <textarea placeholder="Describe your symptoms"></textarea><br/>
      <input class="formBtn" type="submit" method='post' action='/createAppointment'/>
    </form>
 <div id="header">
      <p> Hi <strong><%= userName%></strong></p>
      <p> Let's make an appointment to <strong> <%= clinicName%></strong></p>
    </div>

    <div class="calendar">

  <header>
      <button class="secondary" style="align-self: flex-start; flex: 0 0 1">Today</button>
      <div class="calendar__title" style="display: flex; justify-content: center; align-items: center">
        <div class="icon secondary chevron_left">‹</div>
        <h1 class="" style="flex: 1;"><span></span><strong>28 JAN – 1 FEB</strong> 2019</h1>
        <div class="icon secondary chevron_left">›</div>
      </div>
      <div style="align-self: flex-start; flex: 0 0 1"></div>
  </header>

  <div class="outer">


  <table>
  <thead>
    <tr>
      <th class="headcol"></th>
      <th>Mon, 28</th>
      <th>Tue, 29</th>
      <th>Wed, 30</th>
      <th>Thu, 31</th>
      <th>Fri, 1</th>
      <th class="secondary">Sat, 2</th>
      <th class="secondary">Sun, 3</th>
    </tr>
  </thead>
  </table>

<div class="wrap">
  <table class="offset">

  <tbody>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td></td>
      <td class="past"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol">8:00</td>
      <td></td>
      <td><div class="event single green">08:00–08:30 Meeting</div></td>
      <td class="past"><div class="event single purple">08:00–08:30 Meeting</div></td>
      <td><div class="event single">08:00–08:30 Meeting</div></td>
      <td></td>
      <td><div class="event single purple">08:00–08:30 Meeting</div></td>
      <td><div class="event single">08:00–08:30 Meeting</div></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td><div class="event single">08:30–09:00 Meeting</div></td>
      <td></td>
      <td class="past"><div class="event single ">08:30–09:00 Meeting</div></td>
      <td><div class="event single ">08:30–09:00 Meeting</div></td>
      <td><div class="event single green">08:30–09:00 Meeting</div></td>
      <td><div class="event single green">08:30–09:00 Meeting</div></td>
      <td><div class="event single ">08:30–09:00 Meeting</div></td>
    </tr>
    <tr>
      <td class="headcol">9:00</td>
      <td></td>
      <td><div class="event single purple">09:00–09:30 Meeting</div></td>
      <td class="past"><div class="event single">09:00–09:30 Meeting</div></td>
      <td></td>
      <td><div class="event single green">09:00–09:30 Meeting</div></td>
      <td><div class="event single purple">09:00–09:30 Meeting</div></td>
      <td><div class="event single">09:00–09:30 Meeting</div></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td><div class="event single">09:30–10:00 Meeting</div></td>
      <td class="now"><div class="event single">09:30–10:00 Meeting</div></td>
      <td><div class="event single red">09:30–10:00 Meeting</div></td>
      <td><div class="event double ">09:30–10:30 Meeting</div></td>
      <td><div class="event single green">09:30–10:00 Meeting</div></td>
      <td><div class="event single red">09:30–10:00 Meeting</div></td>
    </tr>
    <tr>
      <td class="headcol">10:00</td>
      <td></td>
      <td><div class="event single">10:00–11:00 Meeting</div></td>
      <td><div class="event single purple">10:00–10:30 Meeting</div></td>
      <td><div class="event single">10:00–10:30 Meeting</div></td>
      <td></td>
      <td><div class="event double purple">10:00–11:00 Meeting</div></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><div class="event single green">10:00–11:00 Meeting</div></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol">11:00</td>
      <td><div class="event single purple">11:00–11:30 Meeting</div></td>
      <td></td>
      <td></td>
      <td><div class="event single green">11:00–11:30 Meeting</div></td>
      <td><div class="event single purple">11:00–11:30 Meeting</div></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol">12:00</td>
      <td></td>
      <td><div class="event single red">12:00–12:30 Meeting</div></td>
      <td><div class="event double">12:00–12:30 Meeting</div></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol">13:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol">14:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol">15:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol">16:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol">17:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="headcol"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>


    <script src='js/calendar.appt.js'></script>
  </body>
</html>
