<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>

    <link rel="stylesheet" href="../css/client.css">

  </head>

  <body>
    <div>
        <ul>
          <li class="clinic">
            <p class="name">
              Clinique Medicale Metro-Medic
            </p>
            <p class="add">
              1538 Rue Sherbrooke Ouest
            </p>
            <p class="tel">
              (514) 932-2122
            </p>
          </li>
          <li class="clinic">
            <p class="name">
              Clinique De Medecine Indl
            </p>
            <p class="add">
              2155 Rue Guy
            </p>
            <p class="tel">
              (514) 931-0801
            </p>
          </li>
          <li class="clinic">
            <p class="name">
              Dr François Mercier
            </p>
            <p class="add">
              1538 Rue Sherbrooke Ouest
            </p>
            <p class="tel">
              (514) 933-3222
            </p>
          </li>
          <li class="clinic">
            <p class="name">
              Dr François Mercier
            </p>
            <p class="add">
              1538 Rue Sherbrooke Ouest
            </p>
            <p class="tel">
              (514) 933-3222
            </p>
          </li>
          <li class="clinic">
            <p class="name">
              Dr François Mercier
            </p>
            <p class="add">
              1538 Rue Sherbrooke Ouest
            </p>
            <p class="tel">
              (514) 933-3222
            </p>
          </li>
        </ul>
    </div>
  </body>

</html>
