<!DOCTYPE html>
<html>
    <head>
        <title>Appointment Confirmation</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Appointment confirmed!</h1>
        <p>Check your email for the confirmation.</p>
        <p>UserId: <%= userId%></p>
        <p>ClinicId: <%= clinicId%></p>
        <a href="/">Go back to home</a>
    </body>
</html>