<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Medical Appointment System</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

</head>

<body>
  <div class="container">
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary">Client</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Doctor</button>
    </div>

  </div>


  </div>
</body>

</html>
