<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Medical Appointment System</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <link rel="stylesheet" href="./css/index.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>
  <div class="container">
  </div>
  <div class="row">
    <div class="col" id="client">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7g5nMVV6uUjQdi1-CoN0Mf2GQGZCKHV7s_npR6ftRMiRNtbl1" class="image" style = "height: 780px; width:100%">
      <div class="middle">
        <form class="form" onsubmit="location.href='./client/' + document.getElementById('clientID').value; return false;" method="post">
          <input type="text" id="clientID" name="clientID" placeholder="ID" required><br><br>
          <input type="submit" value="Client" class="btn btn-primary btn-lg">
        </form>
      </div>
    </div>
    <div class="col" id="doctor">
      <img src="https://cdn2.iconfinder.com/data/icons/medicine-4-1/512/doctor_appointment-512.png" class="image" style = "height: 715px; width:100%">
      <div class="middle">
        <form class="form" onsubmit="location.href='./doctor/' + document.getElementById('doctorID').value; return false;" method="post">
          <input type="text" id= "doctorID" name="doctorID" placeholder="ID" required><br><br>
          <input type="submit" value="Doctor" class="btn btn-primary btn-lg">
        </form>
      </div>
    </div>

  </div>

</body>

</html>
