body {
  overflow-y: hidden;
  background-image: linear-gradient(#eaab00, #eaab00);
}

a.button {
    float: right;
    text-decoration: none;
    color: black;
    background-color: #eaab00;
}

a.button:hover{
  color: black;
  text-decoration: none;
}
