div {
  float: left;
  width: 50%;
  height: 100%;
}

button {
  margin-left: 45%;
  margin-top: 45%;
  padding: 20px 50px 20px 50px;
  border-radius: 10px;
  background-color: #FC9D9A;
}

body {
    background-image: url("https://www.aci.health.nsw.gov.au/__data/assets/image/0005/278069/patients.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
